@font-face {
    font-family: "vigor";
    src: url('../fonts/ibm-plex-medium.rtf');
    font-weight: 400;
}

@font-face {
    font-family: "vigor";
    src: url('../fonts/ibm-plex-semi-bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: "vigor";
    src: url('../fonts/ibm-plex-bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "vigor";
    src: url('../fonts/ibm-plex-bold-italic.ttf');
    font-weight: 700;
    font-style: italic;
}

html,
body {
    font-family: "vigor",sans-serif;
    font-weight: 400;
    background-color: #fff;
    font-size: 14px;
}

@media screen and (max-width: 991px) {
    html,
    body {
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    html,
    body {
        font-size: 10px;
    }
}

@media screen and (max-width: 575px) {
    html,
    body {
        font-size: 9px;
    }
}

@media screen and (max-width: 300px) {
    html,
    body {
        font-size: 8px;
    }
}

@media screen and (max-width: 991px) and (max-height: 375px) {
    html,
    body {
        font-size: 10px;
    }
}

@media screen and (max-width: 767px) and (max-height: 340px) {
    html,
    body {
        font-size: 8px;
    }
}

h1, 
h2, 
h3,
h4,
h5,
h6,
strong,
b {
    font-weight: 700;
    font-style: italic;
    line-height: 1;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 3.5rem;
}

a {
    color: #fed130;
    text-decoration: none;
}

a:hover {
    color: #000;
}

::-moz-selection {
    background-color: #fed130;
    color: #000000;
}

::selection {
    background-color: #fed130;
    color: #000000;
}

/** Utilities */
.vg-bg-primary {
    background-color: #fed130 !important;
}

.vg-text-primary {
    color: #fed130 !important;
}

.vg-bg-secondary {
    background-color: #000000 !important;
}

.vg-text-secondary {
    color: #000000 !important;
}

@media screen and (max-width: 991px) {
    .vg-bg-nlg-primary {
        background-color: #fed130 !important;
    }
}

.font-12 {
    font-size: 1.2rem;
}

/** Buttons **/
.vg-btn {
    display: inline-block;
    line-height: 1.5;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    border-radius: 0px;
    padding: 10px 25px;
    transform: skewX(-10deg);
    border: 2px solid #fff;
    margin-bottom: 1rem;
}

.vg-btn span {
    transform: skewX(10deg);
    display: inline-block;
}

.vg-btn.vg-btn-primary {
    background-color: #fed130;
    border-color: #fed130;
    color: #000000;
}

.vg-btn.vg-btn-outline-primary {
    background-color: transparent;
    border-color: #fed130;
    color: #fed130;
}

.vg-btn:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.vg-btn-group {
    margin-top: 30px;
    margin-bottom: 30px;
}

.vg-btn-group .vg-btn {
    margin-right: 1.75rem;
}

@media screen and (max-width: 575px) {
    .vg-btn {
        width: 100%;
    }
}

/** Navbar */
#navbar {
    padding-top: 0px;
    padding-bottom: 10px;
    transition: all 0.2s ease-in-out;
}

#navbar .navbar-brand {
    padding-top: 0px;
}

#navbar .navbar-brand img {
    height: 70px;
}

#navbar .nav-link {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

#navbar .nav-item {
    position: relative;
    margin-left: 7px;
    margin-right: 7px;
}

#navbar .nav-item:hover::after,
#navbar .nav-item.active::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    height: 2px;
}

#navbar .nav-cart span {
    background-color: #fed130;
    border-radius: 15px;
    padding: 1px 5px;
    line-height: 1;
    font-weight: 700;
    margin-left: 5px;
    font-size: 1rem;
    position: absolute;
    top: -3px;
    right: -5px;
}

#navbar.scrolled {
    box-shadow: 0px 1px 10px #000c;
    border-bottom: 1px solid #000;
}

#navbar.scrolled .navbar-brand img {
    display: none !important;
}

#navbar.scrolled .navbar-brand img.d-none {
    display: inline-block !important;
}

#navbar.scrolled .nav-link {
    color: #000;
}

#navbar.scrolled .nav-cart span,
#navbar.scrolled .nav-item:hover::after,
#navbar.scrolled .nav-item.active::after {
    background-color: #000;
    color: #fff;
}

@media screen and (max-width: 991px) {
    #navbar {
        box-shadow: 0px 1px 10px #000c;
        border-bottom: 1px solid #000;
    }
    
    #navbar .navbar-toggler {
        margin-top: 10px;
        border: 0px;
        outline: 0px;
        transform: skewX(0deg);
        transition: all 0.2s ease-in-out;
    }

    #navbar .navbar-toggler.collapsed {
        transform: skewX(-30deg);
    }

    #navbar .navbar-toggler > .navbar-toggler-icon {
        width: 2.5rem;
        height: 2.5rem;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    #navbar .navbar-brand img {
        display: none !important;
    }

    #navbar .navbar-brand img.d-none {
        display: inline-block !important;
    }

    #navbar .navbar-collapse {
        margin-top: 10px;
    }

    #navbar .navbar-collapse li {
        padding: 7px;
    }

    #navbar .nav-cart {
        font-size: 2.25rem;
        vertical-align: middle;
        margin-right: 10px;
        position: relative;
    }

    #navbar .nav-cart span {
        font-size: 1.5rem;
        background-color: #000;
        margin-left: 0;
        position: absolute;
        top: -7px;
        right: -7px;
    }

    #navbar .nav-link {
        color: #000;
    }

    #navbar .nav-item:hover::after,
    #navbar .nav-item.active::after {
        background-color: #000;
    }
}

/** patch to fix navbar overlay issue when logged in */
.logged-in #navbar {
    margin-top: 44px;
}

@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed;
    }
}

/** Home Page */
#home-banner {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
}

@media screen and (max-width: 991px) and (max-height: 499px) {
    #home-banner {
        align-items: flex-end;
        margin-top: 15px;
    }
}

#home-banner > * {
    z-index: 2;
}

#home-banner::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #00000035;
    z-index: 1;
}

#home-banner .heading span {
    text-transform: none;
    font-style: normal;
    font-weight: 600;
    line-height: 2.75rem;
    margin-top: 2rem;
}